## NPM.
node_modules

## ???
tests

## Emacs things (from 
## https://github.com/github/gitignore/blob/master/Global/Emacs.gitignore).
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

## Org-mode
.org-id-locations
*_archive
