language: ruby
rvm: "1.9.3"

dist: trusty
sudo: required

before_install:
   - sudo apt-get update -qq
   - sudo apt-get install -y python3 -qq
   - sudo apt-get install -y python3-yaml -qq
   - sudo apt-get install -y python3-pip -qq
   - sudo pip3 install typing
   - sudo pip3 install graphstore/rule-runner

## Possible other way.
install:
  - gem install kwalify

script:
  ## Quick user data check.
  - kwalify -E -m metadata/users.schema.yaml 2>&1 | tee out.log && grep 'INVALID\|ERROR' out.log; test $? -ne 0
  - kwalify -E -f metadata/users.schema.yaml metadata/users.yaml 2>&1 | tee out.log && grep 'INVALID\|ERROR' out.log; test $? -ne 0
  - kwalify -E -m metadata/groups.schema.yaml 2>&1 | tee out.log && grep 'INVALID\|ERROR' out.log; test $? -ne 0
  - kwalify -E -f metadata/groups.schema.yaml metadata/groups.yaml 2>&1 | tee out.log && grep 'INVALID\|ERROR' out.log; test $? -ne 0
  - kwalify -E -m metadata/db-xrefs.schema.yaml 2>&1 | tee out.log && grep 'INVALID\|ERROR' out.log; test $? -ne 0
  - kwalify -E -f metadata/db-xrefs.schema.yaml metadata/db-xrefs.yaml 2>&1 | tee out.log && grep 'INVALID\|ERROR' out.log; test $? -ne 0
  - kwalify -E -m metadata/datasets.schema.yaml 2>&1 | tee out.log && grep 'INVALID\|ERROR' out.log; test $? -ne 0
  - kwalify -E -f metadata/datasets.schema.yaml metadata/datasets/*.yaml 2>&1 | tee out.log && grep 'INVALID\|ERROR' out.log; test $? -ne 0
  - sparta valid --rules metadata/rules/ --schema metadata/rules.schema.yaml
  - python3 ./scripts/sanity-check-users-and-groups.py --verbose --users metadata/users.yaml --groups metadata/groups.yaml; test $? -eq 0
notifications:
  email:
    - sjcarbon@lbl.gov
    - cjmungall@lbl.gov
    - edouglass@lbl.gov
